@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.font-outfit {
  font-family: 'Outfit', sans-serif;
}

.carousel {
  width: 100%;
  overflow: hidden;
}

.track {
  display: flex;
  width: 200%; /* two full-width groups */
  animation: slide 20s linear infinite;
}

.group {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

@media (min-width: 768px) {
  .group {
    justify-content: space-around;
  }
}
.card {
  width: 100%;
  max-width: 220px;
  height: 40px;
  object-fit: contain;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
